.btn {
  font-size: 1.142rem;
  width: 320px;
  height: 40px;
  background: #2C68FF;
  border-radius: 2px;
  margin-left: 182px;
}

.tips {
  color: #979BA3;
  font-size: 0.857rem;
  margin: 80px 0;
}

.title {
  font-size: 0.857rem;
  color: #34374A;
  margin: 24px 0 80px 0;
}

.main {
  margin-left: 40px;
}

.center {
  display: flex;
  align-items: center;
}

.itemView {
  width: 19.871%;
  min-width: 250px;
  margin-right: 6.666%;
  padding: 0 0.65%;
  background-color: #fff;
  border-radius: 70px 1px 70px 1px;
  display: grid;
  cursor: pointer;
  border: 1px solid #2C67FF;
  place-items: center;
  box-shadow: 0px 12px 48px 16px rgba(44, 103, 255, 0.03), 0px 9px 28px 0px rgba(44, 103, 255, 0.05), 0px 6px 16px -8px rgba(44, 103, 255, 0.08);
  position: relative;
}

.itemView:hover {
  border: 1px solid #2C67FF!important;
}

.itemView img {
  width: 57.419%;
  margin: 6.451% 0 10.967% 0;
}

.label {
  color: #333649;
  font-size: 1.142rem;
  margin-bottom: 2.451%;
}

.checkbox {
  position: absolute;
  top: 5.161%;
  right: 5.161%;
}

.bOIView {
  width: 224px;
  height: 104px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #E1E1E1;
  margin-right: 33px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bTIView {
  width: 481px;
  height: 104px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #E1E1E1;
  margin-right: 33px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bView {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 40px;
}

.bDetail {
  color: #2C68FF;
  margin-bottom: 44px;
  margin-top: -14px;
  width: 100%;
}

.bLine {
  width: 1px;
  height: 50px;
  background: rgba(0, 0, 0, 0.09);
}

.bTIViewL,.bTIViewR {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bIText {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  margin-left: 31px;
}

.bLabel {
  color: rgba(0, 0, 0, 0.45);
}

.bNum {
  color: #34374A;
  font-size: 2.142rem;
  font-weight: 500;
  margin-left: 52px;
}

.bView img {
  width: 13px;
  margin-right: 7px;
}

.tItemView {
  width: 866px;
  border-bottom: 1px solid #CCCED6;
  padding-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.tInput {
  width: 105px;
  height: 32px;
  margin-bottom: 24px;
}

.tagTitle {
  height: 32px;
  color: #FF8D30;
  margin-bottom: 24px;
  border-color: #FF8D30;
}

.tagChild {
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 53px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 20px 24px 0;
}

.tItem {
  width: 81.019%;
  display: flex;
  flex-wrap: wrap;
}

.tAddGroup {
  width: 320px;
  height: 40px;
  margin: 40px 273px 80px 273px;
  background-color: #2C68FF;
  border-radius: 2px;
  color: #fff;
  display: grid;
  font-size: 1.142rem;
  place-items: center;
}

.tInputGroup {
  width: 866px;
  height: 40px;
  margin: 40px 0 80px 0;
}

.tAddGroup img {
  width: 12px;
  margin-right: 11px;
}

.tAdd {
  box-sizing: border-box;
  width: 105px;
  height: 32px;
  color: #2C68FF;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px dashed #2C68FF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.tAdd div:first-child {
  margin-right: 14px;
}
