.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 70px;
  margin-top: -24px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #979BA3;
}

.headerImg {
  width: 14px;
  margin-right: 5px;
}

.main {
  flex: 1;
  width: 100%;
  background-color: #fff;
  padding-left: 48px;
  padding-right: 24px;
  padding-bottom: 32px;
  border-radius: 2px;
}

.tips {
  color: #FF5730;
  font-size: 0.857rem;
  margin: 40px 0 0 0;
}

.item {
  display: flex;
  align-items: center;
  margin-top: 32px;
  width: 100%;
}

.itemName {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3.75%;
  width: 70px;
}

.itemName span {
  color: #FF5730;
}

.itemText {
  color: #34374A;
  font-weight: 500;
  margin-left: 4px;
  white-space: nowrap;
}

.itemInput {
  width: 29.25%;
  height: 40px;
}

.selectC {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 12px;
  color: #2C68FF;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  cursor: pointer;
  height: 32px;
  width: 186px;
  margin: 0 40px 24px 0;
}

.itemSelect {
  width: 29.25%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 12px;
  color: #FFC415;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  cursor: pointer;
}

.itemSelectP {
  color: rgba(0, 0, 0, 0.25);
}

.itemBtn {
  margin-left: 30px;
  height: 38px;
  width: 100px;
  border-radius: 2px;
}

.uploadText {
  color: #4177FE;
}

.uploadImg {
  width: 17px;
  height: 17px;
  margin-bottom: 13px;
}

.uploadTips {
  color: #FF5730;
  align-self: flex-end;
  margin-left: 6px;
  margin-bottom: 8px;
}

.hiddenText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.itemDropdown {
  height: 40px;
  width: 29.25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.25);
}

.closeTimeView {
  display: flex;
  flex-direction: column;
}

.closeTime {
  color: #979BA3;
}

.closeTimeI {
  width: 68px;
  height: 24px;
  margin: 20px 8px 0 8px;
}

.itemName .white {
  color: #fff;
}

.viewTable {
  height: 40px;
  width: 88px;
  margin-right: 18px;
  margin-bottom: 28px;
  background: #F0F4FF;
  color: #2C68FF;
  border-radius: 2px;
  border: 1px solid #6B95FF;
}

.itemTips {
  margin-top: 6px;
  width: 100%;
  color: rgba(0, 0, 0, 0.45);
  font-size: 0.857%;
  display: flex;
  align-items: center;
}

.itemGrop {
  width: 29.25%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemRadio {
  color: #979BA3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 0;
}

.itemRadio span {
  padding-right: 0;
}

.itemCheckView {
  width: 29.25%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkbox {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 50px;
}

.quill {
  width: 29.25%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cardModel {
  width: 100px;
  height: 36px;
  margin-right: 24px;
  color: #2C68FF;
  border-radius: 2px;
  border: 1px solid #4177FE;
}

.btnView {
  width: 29.25%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit {
  width: 68.376%;
  height: 40px;
  color: #333333;
  font-size: 1.142rem;
}

.btnTipsView {
  width: 51.495%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.quitBtn {
  color: #979BA3;
  font-size: 0.857rem;
  cursor: pointer;
}

.saveBtn {
  color: #FFC415;
  font-size: 0.857rem;
  cursor: pointer;
}

.quitBorder {
  width: 1px;
  height: 10px;
  background: #D8D8D8;
}

.orderModelView {
  width: 68.5%;
}

.orderModelAdd {
  width: 80px;
  height: 40px;
  background: #F0F4FF;
  border-radius: 2px;
  border: 1px dashed #6B95FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orderModelAddImg {
  width: 16px;
  margin-right: 4px;
}

.orderModelAddText {
  color: #2C68FF;
}

.orderInputView {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.orderInput {
  width: 27.372%;
  height: 40px;
  color: #34374A;
  font-size: 1.142rem;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
}

.orderBtn {
  width: 9.124%;
  height: 38px;
  background: #FFEFEB;
  border-radius: 2px;
  border: 1px solid #FF8569;
}

.dropdownBtn {
  width: 23.931%;
  height: 40px;
  margin-right: 1.5%;
  display: flex;
  color: #34374A;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.itemRTV {
  height: 80px;
  border-bottom: 1px solid #E9E9E9;
  width: 62.684%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 24px;
}

.aboutBtn {
  width: 100px;
  height: 38px;
  background: #2C68FF;
  border-radius: 2px;
  border: 1px solid #4177FE;
}

.selectTableOkBtn {
  width: 258px;
  height: 40px;
  margin-right: 70px;
  background: #2C68FF;
  border-radius: 2px;
  font-size: 1.142rem;
}

.selectTabBtnV {
  width: 866px;
  margin: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectTableCBtn {
  border-color: #FF8E32;
  width: 258px;
  height: 40px;
  background: #FF8E32;
  border-radius: 2px;
  font-size: 1.142rem;
}

.selectTableCBtn:hover {
  background: #FF8E32;
  border-color: #FF8E32;
}

.user_disc_price_div {
  width: 94px;
  height: 34px;
}

.user_disc_price_input {
  width: 94px;
  height: 34px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #4177FE;
}

.user_disc_price_btn {
  width: 58px;
  height: 32px;
  background: #2C67FF;
  margin-left: 7px;
}

.igsItem {
  display: flex;
  align-items: center;
  width: 341px;
  justify-content: space-between;
  color: #979BA3;
  font-size: 1rem;
}

.igs_label {
  color: #34374A;
  font-weight: 800;
}

.otherBtn {
  width: 100px;
  height: 38px;
  border-color: #4177FE;
  margin-left: 32px;
  margin-top: 32px;
  color: #2C67FF;
}

.orderHV {
  display: flex;
  align-items: center;
  width: 61.75%;
}

.orderHI {
  width: 23.58%;
  height: 111px;
  border-radius: 2px;
  margin: 32px 32px 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #34374A;
}

.orderHI div {
  font-weight: 500;
  font-size: 1.785rem;
}

.orderHI span {
  font-size: 0.857rem;
}

.orderM {
  margin-top: 24px;
  width: calc(100% - 100px);
  min-height: 100px;
}

.orderMH {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: #34374A;
  font-weight: 500;
  font-size: 1.142rem;
  margin-bottom: 27px;
  background-color: #F9F9F9;
}

.orderLine {
  color: #34374A;
  font-size: 0.857rem;
}

.orderLine div:first-child {
  font-weight: 800;
  margin-right: 20px;
}

.orderLine div {
  display: inline;
}

.orderLine span {
  color: #FF4D4F;
}

.orderLineView {
  margin: 0 20px;
}

.orderNull {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.65);
  padding-bottom: 33px;
}

.orderNull img {
  width: 100px;
  margin-bottom: 8px;
}
