.bg {
  background-image: url(../icons//auth/auth1.png);
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
}

.topView {
  width: 1029px;
  height: 580px;
  max-width: 1080px;
  background-color: #fff;
  border-radius: 32px;
  position: relative;
  display: flex;
}

.bottomView {
  width: 100%;
  margin-top: 2.135%;
  margin-bottom: 1.51%;
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.img {
  width: 92.592%;
}

.leftView {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  top: 0;
  display: grid;
  place-items: center;
}

.rightView {
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0;
  top: 0;
  display: grid;
  place-items: center;
}

.footerView {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.item {
  margin-left: 2.604%;
  margin-right: 2.604%;
}

.footer {
  font-size: 0.857em;
  padding-top: 0.925%;
}

.inputTitle {
  font-size: 2.428rem;
  color: #333333;
  font-weight: 600;
}

.inputView {
  width: 83.194%;
  height: 80.407%;
  background-color: #fff;
  border-radius: 4px;
  padding-top: 8.176%;
  padding-bottom: 12.830%;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.btn {
  width: 100%;
  height: 11.207%;
  font-size: 1.428rem;
}

.inputText {
  color: #080808;
  font-size: 1.142rem;
}

.inputItem {
  width: 100%;
  height: 18.55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 12.694%;
}

.input {
  width: 100%;
  color: #9B9B9B;
  height: 55.576%;
}

.inputImg {
  width: 16px;
}
